<h5><%= "You are logged in as #{session[:email]}." if session[:email] %></h5>
<h1><%= @post.title %></h1>
<h3>By: <%= @post.user.name %></h3>

<p>
    <%= @post.content %>
</p>
<br>
<p><form method="get" action="/posts/<%=@post.id%>/edit">
     <input type="submit" value="Edit Post">
    </form>
</p>